:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Colors */
  /* --cl-body: 250 250 250;
  --cl-primary: 17 17 17;
  --cl-secondary: 76 76 76;
  --cl-accent: 253 146 34;
  --cl-light: 250 250 250;
  --cl-dark: 30 24 35;
  --cl-white: 255 255 255;
  --cl-beige: 252 241 224; */

  /* Others */
  --indent-col: 32px;
  --indent-row: var(--indent-col);
  --items: 3;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}

/* #region Base */
/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  font-family: inherit;
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion */

/* #region containers */
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-container {
  /* display: flex;
  align-items: center; */
  /* width: 1440px; */
}

.footer-container {
  /* display: flex;
  align-items: center; */
  /* width: 1440px; */
}
/* #endregion containers */

/* #region-header */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1158px;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.header-address {
  font-style: normal;
}

.header-address-list-link {
  text-decoration: none;
  color: #434455;
  padding: 24px 0;
}

.header-address-list-link:hover,
.header-address-list-link:focus {
  text-decoration: none;
  color: #404bbf;
}

.section-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.section-list-item-header {
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-two-item-header {
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.section-list-item-first {
  display: block;
  width: calc((100% - 72px) / 4);
}

.section-list-item {
  display: block;
  width: calc((100% - 72px) / 4);
}
.header-nav-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 76px;
  display: inline-flex;
}

.header-nav-logo-span {
  color: #2e2f42;
}

.header-nav-list {
  letter-spacing: 0.02em;
  font-weight: 500;
  text-decoration: none;
  color: #2e2f42;
  display: flex;
  gap: 40px;
}

.header-nav-list-studio {
  letter-spacing: 0.02em;
  font-weight: 500;
  text-decoration: none;
}

.header-nav-list-link {
  color: #2e2f42;
  text-decoration: none;
  display: inline-block;
  padding: 24px 0;
}

.header-nav-list-link:hover,
.header-nav-list-link:focus {
  color: #404bbf;
}

.header-address-list {
  letter-spacing: 0.02em;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  gap: 40px;
}
/* #endregion header */

/* #region-hero */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-container {
}

.hero-header {
  color: white;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-weight: bold;
  text-align: center;
  /* padding: 188px 472px 292px 472px; */
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.hero-button {
  background-color: #4d5ae5;
  color: white;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* #endregion hero */
.section-one {
  padding: 120px 0;
}

.section-header {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* #region section-two our team */

.section-two {
  background-color: #f4f4fd;
  padding: 96px 0;
  padding: 120px 0;
}

.section-two-list-item {
  background-color: #ffffff;
  display: block;
  gap: 24px;
  flex-wrap: wrap;
  border-radius: 0px 0px 4px 4px;
}

.section-two-person {
  padding: 32px 0;
}
.section-header-two {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-list-item-text {
  color: #434455;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.section-two-item-text {
  color: #434455;
  letter-spacing: 0.02em;
  font-weight: 400;
  text-align: center;
}
/* #endregion section-two our team */

/* #region section three */
.section-three {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-header-three {
  margin-bottom: 72px;
}

.section-list-three {
  flex-wrap: wrap;
  row-gap: 48px;
}

.section-three-list-item {
  width: calc((100% - 48px) / 3);
}

.section-three-product {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* #endregion section three */

/* #region footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-nav-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-nav-logo-span {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
/* #endregion footer */
